<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>BAES</title>
  <meta name="Biostasis advisor expert system" content="">
  <meta name="Trscem" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
        <h4>Biostasis advisor Expert system</h4>
        <div>
          <p>This small web application is a free service.</p>
        <p>It is aimed at helping to select the combination of services</p>
          <p>that can fit into the personal finances</p>
          <p>of a person interested in cryonics.</p>

          <p>A form is displayed below where you only have to</p>
          <p>select the factors that condition the most appropriate answer.</p>
          <p>likely response for you and possible ways to proceed.</p>

        <p>Eventually it will be modified and extended to more existing services.</p>
    </div>
      <div>
        /* formulario */
        <form method= "POST" action="/result">
          <fieldset>
            <legend>Personalia:</legend>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname" value="John"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" value="Doe"><br><br>
            <input type="submit" value="Submit">
          </fieldset>
        </form>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
